{{extend 'layout.html'}}
<style>
    
    #left{
        float:left;
        width:150px;
    }
    
    #content{
        margin-left:165px;
    }
    #header-index-container{
        background-color:rgb(233,233,233);
        border-bottom:1px solid rgb(201,201,201);
    }
    #header-index{
        margin-left:6%;
        margin-right:6%;
    }
</style>
<div id="header-index-container">
    <div id="header-index">
        <br><h3 style="color:rgb(80, 84, 92);font-size:45px;">about</h3><br>
    </div>
</div>

<div id="left">
    pointmarket<br>
    pointbank<br>
    exchange<br>
    items<br>
    services<br>
    other<br>
</div>

<div id="content">
	<h1>virtual economy</h1>
	<h1>rembember, value is subjective</h1>
	<h1>anyone can create a market, and everyone valuates it through the exchange.</h1>
	<h1>transparent, crowd owned, value based economy. oh boy. voetr eneabled.</h1>
    <h1>value exchange</h1>
    <h1>create a currency, what is value?</h1>
    <h1>cracking open the idea of fiat based value</h1>

    <p>financial philosophy</p>
    <p>the internet is giving us a new sense of value</p>
    <p>what if everyone was given one epoint everyday? what could this do to change the idea of poverty?</p>

    <p>PICTURE</p>

    <p>finance is complex; but itdoesnt have to be</p>
    <p>transparent</p>
    <p>connected to bankingfor</p>
    <p>we need to ask ourselves, what is valuable?</p>
    <p>is it valuable that people go hungry? is it valuable that some have so much while others have so little?</p>
    <p>what is valuable to you?</p>
    <p>giving value to all</p>
    <p>should we live in a financial oligarchy?</p>
    <p>we can shift away from this, it just takes the intent and will :)</p>

    <table style="margin-left:auto;margin-right:auto">
    <tr>
        <td><img style="width:300px;height:300px;" class="img-polaroid" src="/epointme/static/images/Infinity.gif"/></td>
        <td><img style="width:300px;height:300px;" class="img-polaroid" src="/epointme/static/images/bitcoins.jpg"/></td>
        <td><img style="width:300px;height:300px;" class="img-polaroid" src="/epointme/static/images/dollars.jpeg"/></td>
    </tr>
    </table>



</div>



<br><br><br><br>







