{{extend 'layout.html'}}
<script>
    
    #left{
        float:left;
        width:150px;
    }
    
    #content{
        margin-left:165px;
    }
    
</script>

<div id="left">
    pointmarket<br>
    pointbank<br>
    exchange<br>
    items<br>
    services<br>
    other<br>
</div>

<div id="content">
	<h1>virtual economy</h1>
	<h1>rembember, value is subjective</h1>
	<h1>anyone can create a currency, and everyone valuates it through the exchange.</h1>
	<h1>transparent, crowd owned, value based economy. oh boy. voetr eneabled.</h1>
    <h1>value exchange</h1>
    <h1>create a currency, what is value?</h1>

</div>
