{{extend 'layout.html'}}
<style>
    
    #left{
        float:left;
        width:150px;
    }
    
    #content{
        margin-left:165px;
    }
    
</style>

<div id="left">
    <h5>settings</h5>
    <h5>connected accounts</h5>
    <h5>content</h5>
    <h5>privacy</h5>
    <h5>notifications</h5>
    <h5>other</h5>
</div>

<div id="content">
	<p>settings!!</p>
	<p>settings!!</p>
	<p>settings!!</p>
	<p>settings!!</p>
	<p>settings!!</p>
	<p>settings!!</p>
	<p>settings!!</p>
	<p>settings!!</p>
	<p>settings!!</p>
	<p>settings!!</p>
	<p>settings!!</p>
	<p>settings!!</p>
</div>

<br>
<br>
<br>
<br>
