{{extend 'layout.html'}}
<style>
    #header-index-container{
        background-color:rgb(233,233,233);
        border-bottom:1px solid rgb(201,201,201);
    }
    #header-index{
        margin-left:6%;
        margin-right:6%;
    }
    #share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
    }
    #share-footer-container{margin-left:5%;margin-right:5%;}
    #project-list-container{text-align:center;width:100%;}
    #project-list-item{border:2px solid rgb(180,180,180);display:inline-block;}
</style>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.selection.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.time.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.thumbnailScroller.js')}}"></script>

<div id="header-index-container">
    <div id="header-index"><br>
        <img style="width:500px;height:500px;" class="img-polaroid" src="/epointme/static/images/noimage-icon.png"/>
        <p class="lead">virtual economy</p>
        <p class="lead">value is subjective.</p>
        <p class="lead">anyone can create a market, and everyone valuates it through the exchange.</p>
        <p class="lead">transparent, crowd owned, value based economy.</p>
        <p class="lead">create a market</p>
        <p class="lead">cracking open the idea of fiat based value.</p>
    </div>
</div>

<br>
<div>
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <td><p class="lead">subjective value</p></td>
            <td><p class="lead">value exchange</p></td>
            <td><p class="lead">what is valueable to you?</p></td>
        </tr>
    </table>
</div>

<br><br>

<div style="background-color:rgb(68, 66, 93)">
    <br><br><br>
    <p style="text-align:center;color:rgb(200,200,200)">value</p> 
    <br><br><br>
</div>

<br><br><br>

<div>
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <td><p class="lead"><a href="/about/">about</a></p></td>
            <td><p class="lead"><a href="/mission/">mission</a></p></td>
            <td><p class="lead"><a href="/transparency/">transparency</a></p></td>
        </tr>
    </table>
</div>

    <p style="text-align:center;" class="lead"><a href="/exchange/">exhange</a></p><hr>
    <p style="text-align:center;" class="lead"><a href="/markets/">markets</a></p><hr>
    <p style="text-align:center;" class="lead"><a href="/marketplace/">marketplace</a></p><hr>
    <div id="project-list-container">
        {{for x in range(5):}}
            <div id="project-list-item">
                <a href="/marketplace/"><p style="text-align:center;">item</p></a>
                <a href="/marketplace/"><img class="img-polaroid" src="/epointme/static/images/noimage-icon.png"/></a>
            </div>
        {{pass}}
        <br><br>
    </div>
    <p style="text-align:center;" class="lead"><a href="/pointbank/">pointbank</a></p><hr>


    <p class="lead">epoint.me is a value market</p>
    <p class="lead">epoint.me valuates us all</p>



<div style="background-color:rgb(68, 66, 93)">
    <br><br><br>
    <p style="text-align:center;color:rgb(200,200,200)">money monopoly monopoly mooney</p> 
    <p style="text-align:center;color:rgb(200,200,200)">money monopoly monopoly mooney</p> 
    <p style="text-align:center;color:rgb(200,200,200)">money monopoly monopoly mooney</p> 
    <p style="text-align:center;color:rgb(200,200,200)">money monopoly monopoly mooney</p> 

    <br><br><br>
</div>

<div class="centered-width">
    <br><br><br>
    <a href="/transparency/" class="lead">transparent transaction logs; open currency</a>

    <script type="text/javascript">
    {{an_array=[]}}
    {{import time}}
    {{array = [1,2,3,4,5]}}
    {{for counter, value in enumerate(array):}}
        {{an_array.append([ value*1000, int(value) ])}}
    {{pass}}

    $(function() {
        var data = '';
        var show_graph_lines = true;
        if (data == ''){data = {{=an_array}};}                  
        var options = {
            series: {
                lines: {show: true},                            
                points: {show: true}
            },
            grid: {
                hoverable: true,
                clickable: true
            },
            xaxis:{mode:"time",},
            yaxis: {show: true,},
            selection: {mode: "x"},
        };
        var placeholder = $.plot("#placeholder", [data], options);
        $("#placeholder").bind("plotselected", function (event, ranges) {
            placeholder = $.plot("#placeholder", [data], $.extend(true, {}, options, {
            xaxis: {
                min: ranges.xaxis.from,
                max: ranges.xaxis.to
            },
            lines: { show: show_graph_lines },
            points: { show: true }
            }));
        overview.setSelection(ranges, true);
        }); 
                                       
        function showTooltip(x, y, contents) {
            $("<div id='tooltip'>" + contents + "</div>").css({
            position: "absolute",
            display: "none",
            top: y + 5,
            left: x + 5,
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }           
        var previousPoint = null;
        $("#placeholder").bind("plothover", function (event, pos, item) {
            var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
            $("#hoverdata").text(str);
            if (item) {
                if (previousPoint != item.dataIndex) {         
                    previousPoint = item.dataIndex;
                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);          
                    showTooltip(item.pageX, item.pageY,
                    item.series.label + " of " + x + " = " + y);
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;            
            }           
        });   
        $("#placeholder").bind("plotclick", function (event, pos, item) {
            if (item) {
                $("#clickdata").text(" - click point " + item.dataIndex + " in " + item.series.label);
                plot.highlight(item.series, item.datapoint);
            }
        });
    });
    </script>
    <div>
        <div id="placeholder" style="width:75%;height:250px;display: table;margin: 0 auto;"></div>
    </div>
    <br><br><br>
</div>

<div style="background-color:rgb(68, 66, 93)">
    <br><br><br>
    <p style="text-align:center;color:rgb(200,200,200)">value</p> 
    <br><br><br>
</div>

<div class="centered-width">
    <p class="lead">content</p>
    <p class="lead">content</p>
    <p class="lead">content</p>
    <p class="lead">content</p>
    <p class="lead">content</p>

</div>

<div id="share-footer">
    <div id="share-footer-container">
        <p class="lead" style="float:left;">share plox</p>
        <p style="float:right;" class="lead">get the app</p><br>
        <a style="float:right;" href=""><img class="social" style="height:48px;" src="/epointme/static/images/app_store_icon.png" /></a>
        <a style="float:right;" href=""><img class="social" style="height:48px;" src="/epointme/static/images/android_marketplace_icon.png" /></a>
    </div>
    <div style="clear:both"></div>
</div>

<br><br><br><br>
