{{extend 'layout.html'}}
<style>
    #header-index-container{
        background-color:rgb(233,233,233);
        border-bottom:1px solid rgb(201,201,201);
    }
    #header-index{
        margin-left:6%;
        margin-right:6%;
    }
    #share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
    }
    #share-footer-container{margin-left:5%;margin-right:5%;}
    #project-list-container{text-align:center;width:100%;}
    #project-list-item{border:2px solid rgb(180,180,180);display:inline-block;padding:10px;margin:7px;}
    #project-list-item:hover{border:2px solid rgb(110,110,110);display:inline-block;padding:11px;margin:7px;}
</style>
<script>
$(function() {
    $('a').click(function(){
        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top
        }, 500);
        return false;
    });
});
</script>
<script type="text/javascript">
    {{an_array=[]}}
    {{import time}}
    {{array = [1,2,3,4,5]}}
    {{for counter, value in enumerate(array):}}
        {{an_array.append([ value*1000, int(value) ])}}
    {{pass}}

    $(function() {
        var data = '';
        var show_graph_lines = true;
        if (data == ''){data = {{=an_array}};}                  
        var options = {
            series: {
                lines: {show: true},                            
                points: {show: true}
            },
            grid: {
                hoverable: true,
                clickable: true
            },
            xaxis:{mode:"time",},
            yaxis: {show: true,},
            selection: {mode: "x"},
        };
        var placeholder = $.plot("#placeholder", [data], options);
        $("#placeholder").bind("plotselected", function (event, ranges) {
            placeholder = $.plot("#placeholder", [data], $.extend(true, {}, options, {
            xaxis: {
                min: ranges.xaxis.from,
                max: ranges.xaxis.to
            },
            lines: { show: show_graph_lines },
            points: { show: true }
            }));
        overview.setSelection(ranges, true);
        }); 
                                       
        function showTooltip(x, y, contents) {
            $("<div id='tooltip'>" + contents + "</div>").css({
            position: "absolute",
            display: "none",
            top: y + 5,
            left: x + 5,
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
            }).appendTo("#testing").fadeIn(200);
        }           
        var previousPoint = null;
        $("#placeholder").bind("plothover", function (event, pos, item) {
            var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
            $("#hoverdata").text(str);
            if (item) {
                if (previousPoint != item.dataIndex) {         
                    previousPoint = item.dataIndex;
                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);          
                    showTooltip(item.pageX, item.pageY,
                    item.series.label + " of " + x + " = " + y);
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;            
            }           
        });   
        $("#placeholder").bind("plotclick", function (event, pos, item) {
            if (item) {
                $("#clickdata").text(" - click point " + item.dataIndex + " in " + item.series.label);
                plot.highlight(item.series, item.datapoint);
            }
        });
    });
</script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/epoch.0.5.2.min.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','css/epoch.0.5.2.min.css')}}"></script>

<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.selection.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.time.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.thumbnailScroller.js')}}"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<style>



rect {
  fill: none;
  pointer-events: all;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}

</style>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
    $(function() {

var width = Math.max(960, innerWidth),
    height = Math.max(200, innerHeight);

var i = 0;

var svg = d3.select("#iamtest").append("svg")
    .attr("width", '100%')
    .attr("height", '200px');


svg.append("rect")
    .attr("width", width)
    .attr("height", height)
    .on("ontouchstart" in document ? "touchmove" : "mousemove", particle);

function particle() {
  var m = d3.mouse(this);

  svg.insert("circle", "rect")
      .attr("cx", m[0])
      .attr("cy", m[1])
      .attr("r", 1e-6)
      .style("stroke", d3.hsl((i = (i + 1) % 360), 1, .5))
      .style("stroke-opacity", 1)
    .transition()
      .duration(2000)
      .ease(Math.sqrt)
      .attr("r", 100)
      .style("stroke-opacity", 1e-6)
      .remove();

  d3.event.preventDefault();
}
    });

</script>

<!--<div style="background-image: url(../epointme/static/images/section-bg.png); height: 400px;">-->
<div style="background:none repeat scroll 0% 0% #2C2626;height:400px;">
    <br><br><br>
    <p style="text-align:center;font-size:128px;color:rgb(200,200,200);white-space:nowrap">transparent value network</p>
    <br><br>

    <p class="lead" style="color:rgb(200,200,200);text-align:center;">democratizing exchange</p>
    <hr style="margin-left:20%;margin-right:20%;">

    <a href="#exchange" style="margin-left:10%;">
        <span class="fa-stack fa-lg">
          <i style="font-size:128px;" class="fa fa-circle fa-stack-2x fa-inverse" id="event-icon"></i>
          <i style="font-size:64px;margin-top:43px;margin-left:23px;" class="fa fa-exchange fa-stack-1x"></i>
        </span>
    </a>
    <a href="#markets" style="margin-left:10%;">
        <span class="fa-stack fa-lg">
          <i style="font-size:128px;" class="fa fa-circle fa-stack-2x fa-inverse" id="event-icon"></i>
          <i style="font-size:64px;margin-top:46px;margin-left:21px;" class="fa fa-bar-chart-o fa-stack-1x"></i>
        </span>
    </a>
    <a href="#marketplace" style="margin-left:10%;">
        <span class="fa-stack fa-lg">
          <i style="font-size:128px;" class="fa fa-circle fa-stack-2x fa-inverse" id="event-icon"></i>
          <i style="font-size:64px;margin-top:45px;margin-left:22px;" class="fa fa-shopping-cart fa-stack-1x"></i>
        </span>
    </a>
    <a href="/about/"><p class="lead btn" style="display:block;margin: 0 auto;width:100px;padding:10px;">learn more</p></a>

    <br><br><br><br>
</div>
<!--<div style="background-color:rgb(102,220,197)">
    <br><br><br>
    <br><br><br>
    <p class="lead" style="font-size:128px;text-align:center;color:rgb(255,255,255);">transparent value network</p>
    <br><br><br>
    <br><br><br>
</div>-->


<div style="min-width:960px;background-color:#6488C4" id="iamtest"></div>
<div id="header-index-container">
    <div id="header-index"><br>
        <div style="float:right">
            <p style="text-align:right"><i style="font-size:128px;" class="fa fa-chain-broken"></i></p>
        </div>
        <div style="display:inline-block">
            <p class="lead" style="font-size:40px;">virtual economy</p>
            <p class="lead" style="font-size:40px;">anyone can create a market, and everyone valuates it through the exchange.</p>
            <p class="lead" style="font-size:40px;">cracking open the idea of fiat based value.</p>
        </div>

    </div>
</div>

<br>
<div>

    <hr>
    <p class="lead" style="text-align:center">transparent, crowd owned</p>
    <p style="text-align:center" class="lead">what is valueable to you?</p>
    <p style="text-align:center" class="lead">power to the people</p>
    <p style="text-align:center" class="lead">valuate all the actions -- powerful apis</p>

   <!-- <p class="lead"><a href="/faq/" style="color:rgb(200,200,200);">faq</a></p>
    <p class="lead"><a href="/terms/" style="color:rgb(200,200,200);">terms</a></p>
    <p class="lead"><a href="/exchange/" style="color:rgb(200,200,200);">exchange</a></p>
    <p class="lead"><a href="/mission/" style="color:rgb(200,200,200);">mission</a></p>
    <p class="lead"><a href="/transparency/" style="color:rgb(200,200,200);">transparency</a></p>-->
    <hr>

    <table style="margin-left:auto;margin-right:auto">
        <tr>
            <td><img style="width:128px;height:128px;" class="img-polaroid" src="/epointme/static/images/Infinity.gif"/></td>
            <td><img style="width:128px;height:128px;" class="img-polaroid" src="/epointme/static/images/bitcoins.jpg"/></td>
            <td><img style="width:128px;height:128px;" class="img-polaroid" src="/epointme/static/images/dollars.jpeg"/></td>
            <td><img style="width:128px;height:128px;" class="img-polaroid" src="/epointme/static/images/transparency.png"/></td>

        </tr>
    </table>


</div>

<br><br>

    
<div style="background-color:rgb(86, 124, 181);border-top:4px solid rgb(220,220,220);border-bottom:4px solid rgb(220,220,220);background-image: url(../epointme/static/images/global_map.svg);">
    <br><br><br>
    <table style="float:left;margin-left:6%">
        <tr>
            <td><p class="lead"><a href="/about/" style="color:rgb(220,220,220);font-size:48px">virtual economy</a></p></td>
        </tr>
    </table>
    <div style="clear:both"></div>
    <br><br><br>
</div>
<!--<div style="background-image: url(../epointme/static/images/global_map.svg); height: 300px; background-repeat:no-repeat;background-color:rgb(252,252,252);background-position:center;"></div>-->
<br><br><br>
<div class="centered-width">
    <p class="lead">transparent value exchange</p>
    <a href="/transparency/" class="lead">open transaction logs</a>
    <br><br>
    <img style="width:250px;" class="img-polaroid" src="/epointme/static/images/noimage-icon.png"/>
    <div>
        <div id="placeholder" style="width:75%;height:250px;display: table;margin: 0 auto;"></div>
    </div>
    <br><br>
</div>
<br><br><br>

<div id="exchange" style="background-color:rgb(86, 124, 181);border-top:4px solid rgb(220,220,220);border-bottom:4px solid rgb(220,220,220);">
    <br><br><br>
    <p style="text-align:left;margin-left:6%" class="lead"><a href="/exchange/" style="color:rgb(220,220,220);font-size:48px">value exchange</a></p> 
    <br><br><br>
</div>

<div class="centered-width">
    <br><br><br>
    <div>
        <p style="text-align:center"><i style="font-size:128px;" class="fa fa-refresh fa-spin"></i></p>
        <p style="text-align:center"><i style="font-size:128px;" class="fa fa-exchange"></i></p>
        <br><br>
        <p class="lead">value is subjective.</p>
        <p class="lead">anyone can create a market, and everyone valuates it through the exchange.</p>
        <p class="lead">commodities etc</p>
        <p class="lead">reevaluating finance</p>
        <p class="lead"><a href="http://www.bankingfor.com">bankingfor</a> connected, connected to the world's banks</p>
        <img class="img-polaroid" style="width:256px;" src="/epointme/static/images/photo.jpg"/>

    </div>
    <br><br><br>
</div>

<div id="markets" style="background-color:rgb(86, 124, 181);border-top:4px solid rgb(220,220,220);border-bottom:4px solid rgb(220,220,220);">
    <br><br><br>
    <p style="text-align:left;margin-left:6%" class="lead"><a href="/markets/" style="color:rgb(220,220,220);font-size:48px">markets</a></p> 
    <br><br><br>
</div>
<div style="background-color:rgb(245, 245, 245);">
<div class="centered-width">
    <br><br><br>
    <p class="lead">create your own</p>
    <p class="lead">demiurge, options, options, equlaity</p>
    <div id="project-list-container">
        {{for market in market_list[:50]:}}
            <a href="/market/{{=market['url_title']}}/">
            <div id="project-list-item">
                <p class="lead">{{=market['title']}}</p>
                <p>{{=market['description']}}</p>
            </div>
            </a>
        {{pass}}
    </div>

    <br><br><br>
</div>
</div>
<div id="marketplace" style="background-color:rgb(86, 124, 181);border-top:4px solid rgb(220,220,220);border-bottom:4px solid rgb(220,220,220);">
    <br><br><br>
    <p style="text-align:left;margin-left:6%;color:rgb(225,225,225);" class="lead"><a href="/marketplace/" style="color:rgb(220,220,220);font-size:48px">marketplace</a></p> 
    <br><br><br>
</div>
<br><br><br>
<div class="centered-width">
    <p class="lead">buy and sell items</p>
    <p class="lead">abstract valuation</p>
    <img style="width:250px;" class="img-polaroid" src="/epointme/static/images/noimage-icon.png"/>
    <p class="lead">pickup, delivery, deliveryfor, epoint verified</p>
    <br><br>
    <div id="project-list-container">
        {{for item in item_post_list[:10]:}}
            <div id="project-list-item">
                <a href="/thread/{{=item['url_title']}}/"><p style="text-align:center;">{{=item['title']}}</p></a>
                <a href="/thread/{{=item['url_title']}}/"><img style="width:250px;" class="img-polaroid" src="/epointme/static/images/noimage-icon.png"/></a>
            </div>
        {{pass}}
        <br><br>
    </div>
</div>

<br><br><br>

<div style="background-color:rgb(86, 124, 181);border-top:4px solid rgb(220,220,220);border-bottom:4px solid rgb(220,220,220);">
    <br><br><br>
    <p style="text-align:left;margin-left:6%;color:rgb(225,225,225);" class="lead"><a href="/pointbank/" style="color:rgb(200,200,200)">pointbank</a></p> 
    <br><br><br>
</div>

<br><br><br>
<div class="centered-width">
    <br><br><br>
    <p class="lead">giving is receiving</p>
    <p>givingfor</p>
    <p class="lead">recieve credit.. pay back with specified points.. aka charitable points.. interest only in these type of points.</p>
    <p class="lead">a promise to ourself that value today is even better tomomrrow.</p>
    <br><br><br>
</div>
<br><br><br>

<div id="share-footer">
    <div id="share-footer-container">
        <p class="lead" style="float:left;">share plox</p>
        <p style="float:right;" class="lead">get the app</p><br>
        <a style="float:right;" href=""><img class="social" style="height:48px;" src="/epointme/static/images/app_store_icon.png" /></a>
        <a style="float:right;" href=""><img class="social" style="height:48px;" src="/epointme/static/images/android_marketplace_icon.png" /></a>
    </div>
    <div style="clear:both"></div>
</div>

<br><br><br><br>
