{{extend 'layout.html'}}
<style>
#header-index-container{
    background-color:rgb(233,233,233);
    border-bottom:1px solid rgb(201,201,201);
}
#header-index{
    margin-left:6%;
    margin-right:6%;
}
#contentwrapper{width: 100%;}               
#content { //margin: 0 280px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/}
#right { 

        float: right;
        width: 255px;
        border-left:1px solid rgb(238,238,238);
        border-bottom:1px solid rgb(238,238,238);
        padding-left:15px;
        padding-right:15px;
        padding-bottom:15px;
}
#left { 
        float: left;
        width: 175px;
        border-right:1px solid rgb(238,238,238);
        border-bottom:1px solid rgb(238,238,238);
        padding-left:15px;
        padding-bottom:15px; 
}
#collapsed-left {
        float: left;
        border-bottom:1px solid rgb(238,238,238);
        border-right:1px solid rgb(238,238,238);
        padding-left:7px;
        padding-right:7px;
}

#collapsed-left:hover {
        float: left;
        padding-left:7px;
        padding-right:7px;
        background-color:rgb(245,245,248);
        border-right:1px solid rgb(235,235,238);
        border-bottom:1px solid rgb(235,235,238)
}
#collapse-left {
        padding-left:5px;
        padding-right:5px;
        float:right;
        border-left:1px solid rgb(238,238,238);
        border-bottom:1px solid rgb(238,238,238);
}
#collapse-left:hover {
        padding-left:5px;
        padding-right:5px;
        float:right;
        background-color:rgb(245,245,248);
        border-left:1px solid rgb(235,235,238);
        border-bottom:1px solid rgb(235,235,238) 
}
#item-block-list-container{text-align:center;width:100%;}
#item-block-list-item{border:2px solid rgb(210,210,210);display:inline-block;}
</style>
<script type="text/javascript" src="{{=URL(request.application,'static','js/jquery.tagsinput.js')}}"></script>  
<link rel="stylesheet" type="text/css" href="/epointme/static/css/jquery.tagsinput.css" />
<script>


function onAddTag_marketplace(tag) {
    ajax('ajax_add_tag_collection', ['collection_add_tag_form'], ':eval');
}
        


$(document).ready(function(){

    $('#sidebar_add_tag_form').tagsInput({
        onAddTag:onAddTag_marketplace,
        onRemoveTag:onAddTag_marketplace,
        'defaultText':'tags',
        'width':'auto',
        'height':'auto'     
    });

    $("#collapse-left").click(function() {  
        $("#left").fadeToggle(300);
        $("#collapsed-left").delay(300).fadeToggle(300);
    });
    $("#open-left").click(function() {  
        $("#collapsed-left").fadeOut(300);  
        $("#left").delay(300).fadeIn(300);  
    });
    $("#close-ad").click(function() {       
        $("#ad_block").fadeToggle();        
    });
    $("#view-list").click(function() {     
        $("#item-block-list-container").fadeToggle(); 
        $("#item-list-container").fadeToggle();
    });
    $("#view-table").click(function() {     
        $("#item-block-list-container").fadeToggle(); 
        $("#item-list-container").fadeToggle();
    });
});
</script>   
<div id="header-index-container">
    <div id="header-index">
        <br><h3 style="color:rgb(80, 84, 92);font-size:45px;">marketplace</h3><br>
    </div>
</div>
<div class="centered-width">
<div id="collapsed-left" style="display:none;">
    <a id="open-left">
        <div style="">
            <h5 title="expand" style="margin:0px;padding:3px;"> >> </h5>
        </div>
    </a>
</div>
<div id="left">
    <a id="collapse-left"> <h5 style="margin:0px;padding:3px;" title="minimize"> << </h5> </a>
    <p>price range</p>
    <p>markets</p>
    <p>local items</p>
    <p>epoint verified items</p>
    <p>deliveryfor items</p>
    <p>services</p>



    <div style="margin-right:16px;" id="div_sidebar_add_tag"><input name = "sidebar_add_tag" type="text" id="sidebar_add_tag_form" /></div><br>   

    <hr style="margin-top:10px;"><br>
    <div id="tag-list">
        {{for tag in reversed(tag_item_post_list_sorted_by_total_count):}}
            <div id="tag-list-item" style="margin-right:15px;font-family:ubuntu;">                         
                <a href="/tags/{{=tag[0]}}" >{{=tag[0]}}</a>
                <a style="color:rgb(210,210,210);" href="/tags/{{=tag[0]}}"> ( {{=tag[1]}} ) </a>
                <a id="plus-{{=tag[0]}}" class="filter_tag_item" onclick="add_tag_sidebar('{{=tag[0]}}');" >+</a>                        
                <script>
                        function add_tag_sidebar(tag){
                            if ($('#sidebar_add_tag_form').tagExist(tag)) {
                                $('#sidebar_add_tag_form').removeTag(tag);
                            }
                            else{
                                $('#sidebar_add_tag_form').addTag(tag);
                            }
                        }
                    </script>
            </div>
        {{pass}}
        <br>
        <p style="text-align:center;"><a>view more</a></p>
    </div>
</div>
<div id="right">
    <a data-toggle="modal" href="#new-item" class="btn">+ new item</a><br><br>
    <div style="border:1px solid rgb(235,235,235);background-color:rgb(246,250,255);padding:15px;" id="ad_block">
        <a class="close" id="close-ad" href="#">&times;</a>
        <div id="promoted_list">
            {{for thread in range(5):}}
                <a href="/thread/{{=thread}}"><h5>promoted {{=thread}}</h5></a>
            {{pass}}          
        </div>
    <br>
    </div>
</div>
<div id="content">
	<!--<h3>nearby deliveryfor items</h3>
	<h3>epoint verified items</h3>
    <br><br>-->
    <a id="view-list"><i class="icon-align-justify"></i></a>
    <a id="view-table"><i class="icon-th"></i></a>
    <div id="item-list-container">
    	{{for item_post in item_post_list:}}
    		<h4><a href="/thread/{{=item_post['url_title']}}">{{=item_post['title']}}</a></h4>
    	{{pass}}
    </div>
    <div id="item-block-list-container" style="display:none;">
        {{for item_post in item_post_list:}}
            <div id="item-block-list-item">
                <h4><a href="/thread/{{=item_post['url_title']}}">{{=item_post['title']}}</a></h4>
                <a href="/marketplace/"><img class="img-polaroid" src="/epointme/static/images/noimage-icon.png"/></a>
                <h4><a href="/thread/{{=item_post['url_title']}}">price / available markets</a></h4>
                <h4><a href="/thread/{{=item_post['url_title']}}">comments (x)</a></h4>
                <h4><a href="/thread/{{=item_post['url_title']}}">like / dislike</a></h4>
            </div>
        {{pass}}
    </div>

</div>
</div>
<div style="clear:both"></div>
<br><br><br><br>

<div class="modal fade" id="new-item" style="display:none;">
    <div class="modal-header" id="new-item-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>+ new item</h3>
    </div>
    <br>
    <div class="modal-body" style="">
        {{=form_create_marketplace_item}}
    </div>
    <div class="modal-footer">
        footer
    </div>
</div> 

<script>
    $("#new-item").draggable({handle:"#new-item-header", cursor:"move"}); 
</script>
