{{extend 'layout.html'}}
<style>
    #header-index-container{
        background-color:rgb(235,240,240);
        border-bottom:2px solid rgb(220,220,220);
    }
    #header-index{
        margin-left:6%;
        margin-right:6%;
    }
</style>

<div id="header-index-container">
    <div id="header-index">
        <br><h3 style="float:left;">markets</h3>
        <a data-toggle="modal" href="#new-market" class="btn" style="float:right;">+ new market</a>
        <div style="clear:both;"></div>
        <br>
    </div>

</div>

<div class="centered-width">
	<br>
	<a>filters</a>
	<a>sort</a>

	{{for market in market_list:}}
		<h3><a href="/market/{{=market['url_title']}}">{{=market['title']}}</a></h3>
		<p class="lead">{{=market['description']}}</p>
		<p class="lead">marketplace stats</p>
	{{pass}}
</div>

<br><br><br><br>

<div class="modal fade" id="new-market" style="display:none;">
    <div class="modal-header" id="new-market-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>+ new market</h3>
    </div>
    <br>
    <div class="modal-body" style="">
        <p class="lead">description and such
        <div id="external-login" style="display: table;margin: 0 auto;">
        <a id="facebook-login">table link 1</a>
        <a id="twitter-login">table link 2</a>
        <a id="google-login">table link 3</a> 
        </div>
    </div>
    <div class="modal-footer">
        footer
    </div>
</div> 

<script>
    $("#new-market").draggable({handle:"#new-market-header", cursor:"move"}); 
</script>