{{extend 'layout.html'}}
<style>
    #header-index-container{
        background-color:rgb(233,233,233);
        border-bottom:1px solid rgb(201,201,201);
    }
    #header-index{
        margin-left:6%;
        margin-right:6%;
    }
    #project-list-container{text-align:center;width:100%;}
    #project-list-item{border:2px solid rgb(180,180,180);display:inline-block;}
</style>
<div id="header-index-container">
    <div id="header-index">
        <br><h3 style="color:rgb(80, 84, 92);font-size:45px;">mission</h3><br>
    </div>
</div>
<br><br>
<p class="lead">finance can be the great equalizer</p>
<p class="lead">value is subjective</p>
<p class="lead">abstracting value</p>
<p class="lead">value should be in our hands</p>

<br><br>
<table style="margin-left:auto;margin-right:auto">
	<tr>
		<td><img style="width:300px;height:300px;" class="img-polaroid" src="/epointme/static/images/Infinity.gif"/></td>
		<td><img style="width:300px;height:300px;" class="img-polaroid" src="/epointme/static/images/bitcoins.jpg"/></td>
		<td><img style="width:300px;height:300px;" class="img-polaroid" src="/epointme/static/images/dollars.jpeg"/></td>
	</tr>
</table>

