{{extend 'layout.html'}}
<style>
    #header-index-container{
        background-color:rgb(233,233,233);
        border-bottom:1px solid rgb(201,201,201);
    }
    #header-index{
        margin-left:6%;
        margin-right:6%;
    }
</style>
<div id="header-index-container">
    <div id="header-index">
        <br><h3 style="color:rgb(80, 84, 92);font-size:45px;">search</h3><br>
    </div>
</div>

<h3>{{=request.args(0)}}</h3>

<p>filters</p>

{{for x in range(100):}}

    <h5>result {{=x}}</h5>

{{pass}}